body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #614BC3;
}

.loader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 20px solid #33BBC5;
    border-top: 20px solid black;
    animation: load 1s linear 0.5s infinite;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
