
p{
    text-align: justify;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-image: url("nature.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
}